

<article class="mw6 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
<h1>Administradores</h1>
 <div class="tc">
 <%= form_with(model: admin, local: true) do |form| %>
  <% if admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :admin_email,:class=> "input-reset ba b--black-20 pa2 mb2 db w-100" %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :admin_password,:class=> "input-reset ba b--black-20 pa2 mb2 db w-100" %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", :class=>"f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-dark-green" %>
  </div>
<% end %>
 
 </div>
</article>




