<link href='https://fonts.googleapis.com/css?family=Open+Sans:300|Raleway:200,900|Over+the+Rainbow' rel='stylesheet'
  type='text/css'>
<meta name="viewport" content="width=device-width, user-scalable=no">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.3.1/velocity.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
<script>
  $('.hamb-wrap').on('click', function () {
    $(this).parent().children('p').toggle();
    $(this).children().toggleClass('active');
    $('nav').fadeToggle(200);
  }) 
</script>
<header>
  <div class="hero">
    <article class="pa3 pa5-ns">
      <h1 class="f4 bold center mw6">Menú</h1>
      <ul class="list pl0 ml0 center mw6 ba b--light-silver br2">
        <li class="ph3 pv3 bb b--light-silver"><a href="/home/index">Grupos</a></li>
        <li class="ph3 pv3 bb b--light-silver"><a href="/usuarios">Usuarios</a></li>
        <li class="ph3 pv3 bb b--light-silver"><a href="/certificados">Certificados</a></li>
        <li class="ph3 pv3 bb b--light-silver"><a href="/admins">Administración</a></li>
        <li class="ph3 pv3 bb b--light-silver"><a href="/settings">Configuración</a></li>
        <li class="ph3 pv3 bb b--light-silver"><a href="/home/out_admin">Salir</a></li>
      </ul>
    </article>
  </div>
</header>
<section class="content">
  <h1>Certificados</h1>
  <div class="ph1">
    <%= link_to 'Nuevo certificado', new_certificado_path, :class=>"f6 link dim br2 ph3 pv2 mb2 dib white bg-green" %>
  </div>
  <div class="pa2">
    <div class="overflow-auto">
      <table class="f6 w-100 mw8 center" cellspacing="0">
        <thead>
          <tr>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Nombre</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Texto</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Template</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Grupo</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Serie</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Estado</th>
            <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Descargas</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @certificados.each do |certificado| %>
          <tr>

            <td><%= certificado.nombre %></td>
            <td><%= certificado.texto %></td>
            <% if certificado.template=="1" %>
            <td>Template 1</td>
            <% end %>
            <% if certificado.template=="2" %>
            <td>Template 2</td>
            <% end %>
            <% if certificado.template=="3" %>
            <td>Template 3</td>
            <% end %>
            <td><%= certificado.grupoid %></td>
            <td><%= certificado.serie %></td>
            <td><%= certificado.estado %></td>
            <td><%= certificado.descargas %></td>
            <td><%= link_to 'Preview', certificado %></td>
            <td><%= link_to 'Editar', edit_certificado_path(certificado) %></td>
            <td><%= link_to 'Eliminar', certificado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>


