<p id="notice"><%= notice %></p>

<h1>Descargas</h1>

<table>
  <thead>
    <tr>
      <th>Certificado</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @descargas.each do |descarga| %>
      <tr>
        <td><%= descarga.certificado %></td>
        <td><%= descarga.email %></td>
        <td><%= link_to 'Show', descarga %></td>
        <td><%= link_to 'Edit', edit_descarga_path(descarga) %></td>
        <td><%= link_to 'Destroy', descarga, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Descarga', new_descarga_path %>
